*::-webkit-scrollbar-thumb {
	background: var(--white);
}

body {
	color: var(--black);
	background: var(--white);
	background-image:	linear-gradient( var(--black01) 1px, transparent 1px),
						linear-gradient(to right, var(--black01) 1px, transparent 1px);
}

header {
	/* border-bottom: 1px var(--black) solid; */
	background: var(--black);
	color: var(--white);
}

iframe:hover,
img:hover:not(.shadowless),
#qrc:hover
/*video:hover,
.card img,
#item:hover,
.shirt,*/ {
	box-shadow: 10px 10px var(--pink02);
}

fieldset:not(.card fieldset) {
	background: var(--white);
}


fieldset:not(.card fieldset):hover {
	box-shadow: 10px 10px var(--pink02);
}

.shirt {
	background: var(--black);
}

.card legend {
	background: var(--black);
	color: var(--white);
}

.info h3 {
	color: var(--white);
}

.info span {
	background: var(--black);
}

.active {
	color: var(--white);
	background: var(--black);
}

.active:after {
	color: var(--white);
	background: var(--black);
}

.active:before {
	color: var(--white);
	background: var(--black);
}

.active::first-letter {
	color: var(--black);
	background: var(--pink02);
}

.active:before,
.active:after {
	text-shadow: 1px 0 var(--pink02);
}

#item {
	background: var(--white);
}

#item:hover {
	color: var(--black);
}

#item:hover h1::first-letter {
	background: var(--pink02);
}

#qrc {
	background: var(--white);
}

#details {
	background: var(--white);
}

::selection {
	background: var(--black);
	color: var(--white);
}

marquee {
	background: var(--black01);
}

marquee:before {
	background: var(--black);
}

marquee::after {
	background: var(--black);
}

.marquee:before {
	background: linear-gradient(to right, var(--white) 10%, transparent 80%);
}

.marquee:after {
	background: linear-gradient(to left, var(--white) 10%, transparent 80%);
}

.shadowless {
	box-shadow: none !important;
}