.grain {
  position: fixed;
  inset: 0;
  transform: translateZ(0);
}

.grain:before {
  content: "";
  position: fixed;
  top: -10rem;
  left: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
  opacity: 0.15;
  pointer-events: none;
  animation: noise 1s steps(2) infinite;
}
