@import 'colors';

*::-webkit-scrollbar-thumb,
.shirt,
#details {
  background: $white;
}

body {
  color: $white;
  background: $black;
  background-image:	linear-gradient($white01 1px, transparent 1px),
  linear-gradient(to right, $white01 1px, transparent 1px);
}

header {
  border-bottom: 1px $black solid;
  background: $aqua;
  color: $black;
}

.active::first-letter,
.info span {
  background: $pink;
}

#item:hover,
iframe:hover,
video:hover,
img:hover:not(.shadowless),
.card img,
#qrc,
.shirt {
  /*box-shadow: 10px 10px 20px 5px $shadow);*/
  box-shadow: 10px 10px $purple;
}

.card legend,
.active {
  background: $black;
  color: $white;
}

#item:hover,
#qrc {
  background: $white;
  color: $black;
}

.info h3 {
  color: $white;
}

#item:hover h1 {
  color: $black;
}

#item:hover h1::first-letter,
::selection {
  background: $pink;
  color: $white;
}

marquee {
  background: $yellow;
  color: $black;
}

marquee:before,
marquee::after {
  background: $black;
}

.marquee:before {
  background: linear-gradient(to right, $white 10%, transparent 80%);
}

.marquee:after {
  background: linear-gradient(to left, $white 10%, transparent 80%);
}