@import 'colors';

*::-webkit-scrollbar-thumb {
  background: $white;
}

body {
  color: $black;
  background: $black;
  background-image:	linear-gradient(to bottom, $white01 1px, transparent 1px),
                    linear-gradient(to right, $white01 1px, transparent 1px);
}

header {
  /* border-bottom: 1px $black) solid; */
  background: $black;
  color: $white;
}

iframe:hover,
img:hover:not(.shadowless),
#qrc:hover
  /*video:hover,
  .card img,
  #item:hover,
  .shirt,*/ {
  box-shadow: 10px 10px $pink02;
}

fieldset:not(.card fieldset) {
  background: $white;
}


fieldset:not(.card fieldset):hover {
  box-shadow: 10px 10px $pink02;
}

.shirt {
  background: $black;
}

.card legend {
  background: $black;
  color: $white;
}

.info h3 {
  color: $white;
}

.info span {
  background: $black;
}

.active {
  color: $white;
  background: $black;
}

.active:after {
  color: $white;
  background: $black;
}

.active:before {
  color: $white;
  background: $black;
}

.active::first-letter {
  color: $black;
  background: $pink02;
}

.active:before,
.active:after {
  text-shadow: 1px 0 $pink02;
}

#item {
  background: $white;
}

#item:hover {
  color: $black;
}

#item:hover h1::first-letter {
  background: $pink02;
}

#qrc {
  background: $white;
}

#details {
  background: $white;
}

::selection {
  background: $black;
  color: $white;
}

marquee {
  background: $black01;
}

marquee:before {
  background: $black;
}

marquee::after {
  background: $black;
}

.marquee:before {
  background: linear-gradient(to right, $white 10%, transparent 80%);
}

.marquee:after {
  background: linear-gradient(to left, $white 10%, transparent 80%);
}

.shadowless {
  box-shadow: none;
}