@import 'colors';

:root {
  color-scheme: light;
}

*::-webkit-scrollbar-thumb {
  background: $black;
}

body {
  color: $black;
  background: $white;
  background-image:	linear-gradient( $black01 1px, transparent 1px),
  linear-gradient(to right, $black01 1px, transparent 1px);
}

header {
  border-bottom: 1px $black solid;
  background: $white;
}

.active::first-letter {
  background-color: $pink;
}

#item:hover,
iframe:hover,
video:hover,
img:hover:not(.shadowless),
.card img,
#item:hover,
#qrc,
.shirt {
  box-shadow: 10px 10px 20px 5px $shadow;
}

.shirt {
  background: $white;
}

.card legend {
  background: $black;
  color: $white;
}

.info h3 {
  color: $white;
}

.info span {
  background: $black;
}

.active{
  color: $white;
  background: $black;
}

#item:hover {
  background: $black;
  color: $white;
}

#item:hover h1 {
  color: $white;
}

#item:hover h1::first-letter {
  background: $pink;
  color: $white;
}

#qrc {
  background: $white;
}

#details {
  background: $white;
}

::selection {
  background: $pink;
  color: $white;
}

marquee {
  background: $yellow;
}

marquee:before {
  background: $black;
}

marquee::after {
  background: $black;
}

.marquee:before {
  background: linear-gradient(to right, $white 10%, transparent 80%);
}

.marquee:after {
  background: linear-gradient(to left, $white 10%, transparent 80%);
}