@import 'colors';

* {
  &::-webkit-scrollbar-thumb {
    background-color: $white;
  }
  &::selection {
    background-color: $black;
    color: $white;
  }
}

body {
  color: $white;
  background-image: $bg;
  /*background-image:	linear-gradient(to bottom, $black 1px, transparent 1px),
                    linear-gradient(to right, $black 1px, transparent 1px);*/
}

header {
  background-color: $primary-darker;
  color: $white;
}

.shirt {
  background-color: $secondary;
}

.card legend {
  background-color: $black;
  color: $white;
}

.info h3 {
  color: $white;
  background-color: $secondary;
}

.info span {
  background-color: $black;
}

.active {
  color: $white;
  background-color: $secondary;
}

.active:after {
  color: $white;
  background-color: $secondary;
}

.active:before {
  color: $white;
  background-color: $secondary;
}

.active::first-letter {
  color: $white;
  background-color: $pink;
}

.active:before,
.active:after {
  text-shadow: 1px 0 $pink;
}

.item {
  /*background-color: $secondary-3;*/
  backdrop-filter: blur(10px);

  &:hover {
    background-color: $white;
    color: $black;
    box-shadow: -10px -10px 0px 0px $secondary;
  }

  &:hover h1::first-letter {
    background-color: $pink;
  }
}
.details {
  background-color: $white;
}

.marquee {
  background-color: $secondary;
  color: $white;
}

.shadowless {
  box-shadow: none;
}

.back-text {
  color: $secondary;
}

legend:not(.card legend) {
  background: $secondary;
}

.stack-item-desc {
  background: $white;
  border: $black solid 1px;
}

.qrc {
  background-color: $secondary;
}

.qrc table {
  background-color: transparent !important;
}