@layer base {
  @variant light {
    *::selection {
      background-color: var(--color-white);
      color: var(--color-black);
    }

    a {
      color: var(--color-white);
    }
    a:hover {
      color: var(--color-white);
    }

    svg:hover polygon,
    svg:hover path,
    svg:hover rect {
      fill: var(--color-white);
    }

    .app-cursor {
      background: var(--color-white);
      color: var(--color-black);
    }

    nav circle {
      fill: var(--dot-color);
    }

    nav button[aria-current="true"] circle {
      fill: var(--dot-current);
    }
  }
}
