@layer base {
  :root {
    --theme-primary: var(--theme-primary-srgb);
    --theme-blend: #ffffff;
    --theme-cursor-fg: #000000;
  }

  @supports (color: color(display-p3 1 0 0)) {
    @media (color-gamut: p3) {
      :root {
        --theme-primary: var(--theme-primary-p3, var(--theme-primary-srgb));
      }
    }
  }

  .app-cursor {
    background: var(--color-blend);
    color: var(--color-cursor-fg);
  }
}
