*::-webkit-scrollbar-thumb {
  background-color: var(--white);
}

body {
  color: var(--black);
  background-color: var(--white);
  background-image:	linear-gradient(to bottom, var(--black01) 1px, transparent 1px),
                    linear-gradient(to right, var(--black01) 1px, transparent 1px);
}

header {
  /* border-bottom: 1px var(--black) solid; */
  background-color: var(--black);
  color: var(--white);
}

iframe:hover,
img:hover:not(.shadowless),
#qrc:hover,
video:hover,
.card img,
#item:hover,
.shirt {
  /*box-shadow: 10px 10px var(--pink02);*/
}

fieldset:not(.card fieldset) {
  /*background-color: var(--white);*/
}

#left {
  /*background-color: var(--white) url('../src/images/fieldset-bg.png');*/
}

fieldset:not(.card fieldset):hover {
  /*box-shadow: 10px 10px var(--pink02);*/
}

.shirt {
  background-color: var(--black);
}

.card legend {
  background-color: var(--black);
  color: var(--white);
}

.info h3 {
  color: var(--white);
}

.info span {
  background-color: var(--black);
}

.active {
  color: var(--white);
  background-color: var(--black);
}

.active:after {
  color: var(--white);
  background-color: var(--black);
}

.active:before {
  color: var(--white);
  background-color: var(--black);
}

.active::first-letter {
  color: var(--white);
  background-color: var(--pink02);
}

.active:before,
.active:after {
  text-shadow: 1px 0 var(--pink02);
}

#item {
  background-color: var(--white);
}

#item:hover {
  color: var(--black);
}

#item:hover h1::first-letter {
  background-color: var(--pink02);
}

#qrc {
  background-color: var(--white);
}

#details {
  background-color: var(--white);
}

::selection {
  background-color: var(--black);
  color: var(--white);
}

marquee {
  background-color: var(--black);
  color: var(--black);
}

marquee:before {
  /*background-color: var(--black);*/
}

marquee::after {
  /*background-color: var(--black);*/
}

.marquee:before {
  background-color: linear-gradient(to right, var(--white) 10%, transparent 80%);
}

.marquee:after {
  background-color: linear-gradient(to left, var(--white) 10%, transparent 80%);
}

.shadowless {
  box-shadow: none !important;
}