@keyframes glitch {
  0%	    {filter: invert(1);}
  25%	    {filter: invert(0);}
  50%   	{filter: invert(1);}
  75%   	{filter: invert(0);}
  100%      {filter: invert(1);}
}

@keyframes shake {
  0%	    {transform: translate(0, 0);}
  2%	    {transform: translate(0.5px, 0px);}
  4%	    {transform: translate(0.5px, 0.5px);}
  6%	    {transform: translate(0px, 0.5px);}
  8%	    {transform: translate(0.5px, 0.5px);}
  10%	    {transform: translate(0.5px, 0px);}
  12%	    {transform: translate(0.5px, 0.5px);}
  14%   	{transform: translate(0.5px, 0.5px);}
  16%	    {transform: translate(0.5px, 0px);}
  18%	    {transform: translate(0px, 0px);}
  20%	    {transform: translate(0px, 0.5px);}
  22%	    {transform: translate(0px, 0.5px);}
  24%	    {transform: translate(0px, 0px);}
  26%	    {transform: translate(0.5px, 0px);}
  28%	    {transform: translate(0px, 0.5px);}
  30%	    {transform: translate(0.5px, 0.5px);}
  32%	    {transform: translate(0px, 0px);}
  34%	    {transform: translate(0.5px, 0.5px);}
  36%	    {transform: translate(0.5px, 0.5px);}
  38%   	{transform: translate(0px, 0px);}
  40%	    {transform: translate(0.5px, 0.5px);}
  42%	    {transform: translate(0.5px, 0.5px);}
  44%	    {transform: translate(0px, 0.5px);}
  46%	    {transform: translate(0px, 0.5px);}
  48%   	{transform: translate(0.5px, 0px);}
  50%	    {transform: translate(0.5px, 0px);}
  52%	    {transform: translate(0px, 0px);}
  54%	    {transform: translate(0px, 0px);}
  56%	    {transform: translate(0.5px, 0px);}
  58%	    {transform: translate(0px, 0.5px);}
  60%	    {transform: translate(0px, 0.5px);}
  62%   	{transform: translate(0px, 0.5px);}
  64%   	{transform: translate(0.5px, 0.5px);}
  66%   	{transform: translate(0px, 0.5px);}
  68%	    {transform: translate(0px, 0.5px);}
  70%	    {transform: translate(0.5px, 0.5px);}
  72%   	{transform: translate(0px, 0.5px);}
  74%      	{transform: translate(0.5px, 0px);}
  76%	    {transform: translate(0.5px, 0px);}
  78%	    {transform: translate(0.5px, 0px);}
  80%	    {transform: translate(0.5px, 0px);}
  82%	    {transform: translate(0.5px, 0px);}
  84%	    {transform: translate(0px, 0px);}
  86%	    {transform: translate(0.5px, 0.5px);}
  88%	    {transform: translate(0px, 0px);}
  90%	    {transform: translate(0.5px, 0.5px);}
  92%	    {transform: translate(0px, 0.5px);}
  94%	    {transform: translate(0px, 0px);}
  96%	    {transform: translate(0.5px, 0.5px);}
  98%	    {transform: translate(0.5px, 0.5px);}
  100%      {transform: translate(0, 0);}
}

@keyframes noise-animY-1 {
  0%		{clip-path:polygon(0 80px, 100% 80px, 100% 16px, 0 16px);}
  5%		{clip-path:polygon(0 94px, 100% 94px, 100% 17px, 0 17px);}
  10%		{clip-path:polygon(0 9px, 100% 9px, 100% 92px, 0 92px);}
  15%		{clip-path:polygon(0 37px, 100% 37px, 100% 4px, 0 4px);}
  20%		{clip-path:polygon(0 53px, 100% 53px, 100% 47px, 0 47px);}
  25%		{clip-path:polygon(0 99px, 100% 99px, 100% 69px, 0 69px);}
  30%		{clip-path:polygon(0 15px, 100% 15px, 100% 49px, 0 49px);}
  35%		{clip-path:polygon(0 83px, 100% 83px, 100% 81px, 0 81px);}
  40%		{clip-path:polygon(0 55px, 100% 55px, 100% 43px, 0 43px);}
  45%		{clip-path:polygon(0 28px, 100% 28px, 100% 27px, 0 27px);}
  50%		{clip-path:polygon(0 64px, 100% 64px, 100% 28px, 0 28px);}
  55%		{clip-path:polygon(0 76px, 100% 76px, 100% 91px, 0 91px);}
  60%		{clip-path:polygon(0 29px, 100% 29px, 100% 72px, 0 72px);}
  65%		{clip-path:polygon(0 70px, 100% 70px, 100% 10px, 0 10px);}
  70%		{clip-path:polygon(0 5px, 100% 5px, 100% 84px, 0 84px);}
  75%		{clip-path:polygon(0 46px, 100% 46px, 100% 81px, 0 81px);}
  80%		{clip-path:polygon(0 7px, 100% 7px, 100% 85px, 0 85px);}
  85%		{clip-path:polygon(0 17px, 100% 17px, 100% 89px, 0 89px);}
  90%		{clip-path:polygon(0 41px, 100% 41px, 100% 59px, 0 59px);}
  95%		{clip-path:polygon(0 53px, 100% 53px, 100% 90px, 0 90px);}
  100%	    {clip-path:polygon(0 10px, 100% 10px, 100% 30px, 0 30px);}
}

@keyframes noise-animY-2 {
  0%		{clip-path:polygon(0 84px, 100% 84px, 100% 3px, 0 3px);}
  5%		{clip-path:polygon(0 31px, 100% 31px, 100% 69px, 0 69px);}
  10%		{clip-path:polygon(0 37px, 100% 37px, 100% 33px, 0 33px);}
  15%		{clip-path:polygon(0 18px, 100% 18px, 100% 6px, 0 6px);}
  20%		{clip-path:polygon(0 25px, 100% 25px, 100% 87px, 0 87px);}
  25%		{clip-path:polygon(0 100px, 100% 100px, 100% 8px, 0 8px);}
  30%		{clip-path:polygon(0 24px, 100% 24px, 100% 87px, 0 87px);}
  35%		{clip-path:polygon(0 39px, 100% 39px, 100% 16px, 0 16px);}
  40%		{clip-path:polygon(0 96px, 100% 96px, 100% 25px, 0 25px);}
  45%		{clip-path:polygon(0 16px, 100% 16px, 100% 100px, 0 100px);}
  50%		{clip-path:polygon(0 92px, 100% 92px, 100% 76px, 0 76px);}
  55%		{clip-path:polygon(0 29px, 100% 29px, 100% 40px, 0 40px);}
  60%		{clip-path:polygon(0 40px, 100% 40px, 100% 39px, 0 39px);}
  65%		{clip-path:polygon(0 94px, 100% 94px, 100% 44px, 0 44px);}
  70%		{clip-path:polygon(0 2px, 100% 2px, 100% 78px, 0 78px);}
  75%		{clip-path:polygon(0 86px, 100% 86px, 100% 50px, 0 50px);}
  80%		{clip-path:polygon(0 2px, 100% 2px, 100% 46px, 0 46px);}
  85%		{clip-path:polygon(0 41px, 100% 41px, 100% 71px, 0 71px);}
  90%		{clip-path:polygon(0 75px, 100% 75px, 100% 15px, 0 15px);}
  95%		{clip-path:polygon(0 41px, 100% 41px, 100% 8px, 0 8px);}
  100%	    {clip-path:polygon(0 23px, 100% 23px, 100% 75px, 0 75px);}
}