//base

$bg: linear-gradient(
                to right top,
                hsl(0, 0%, 0%),
                hsl(0, 0%, 10%)
);

$primary: hsla(248 84% 63% / 1);
$primary-darker: hsla(248deg 65% 50% / 1);

$secondary: hsla(0deg 0% 12% / 1);
$secondary-025: hsla(0deg 0% 12% / .25);
$secondary-light: hsla(0 0% 25% / 1);
$secondary-dark: hsla(0deg 0% 10% / 1);

/// asthma

$black: hsla(0 0% 0% / 1);
$white: hsla(0 0% 100% / 1);
$grey: hsla(0 0% 95% / 1);
$grey-darker: hsla(0 0% 75% / 1);
$sky: hsla(186 67% 61% / 1);
$pink: hsla(314 97% 44% / 1);
$green: hsla(134 97% 56% / 1);
$shadow: hsla(0 0% 50% / .5);
$yellow: hsla(68 84% 63% / 1);

* {
  color: #a8a8a8;

  &::-webkit-scrollbar-thumb {
    background-color: $white;
  }

  &::selection {
    background-color: $white;
    color: $black;
  }
}

body {
  color: $white;
  background: linear-gradient(270deg, #000000, #1a1a1a);
  background-size: 400% 400%;
  animation: animateBg 30s ease infinite;
}

h3 {
  color: $white;
}

.shirt {
  background-color: $secondary;
}

.card legend {
  background-color: $black;
}

.info span {
  background-color: $black;
}

.active {
  color: $white;

  &:first-letter {
    background-color: $pink;
    font-weight: bold;
  }
}

.item {
  border-radius: 15px;

  &:hover {
    box-shadow: -10px -10px 0px 0px $secondary;
  }

  &:hover h1::first-letter {
    background-color: $pink;
  }
}

.shadowless {
  box-shadow: none;
}

legend:not(.card legend) {
  background: $secondary;
}

.stack-item-desc {
  background: $white;
  border: $black solid 1px;
}

.me {
  -webkit-filter: drop-shadow(5px 5px 5px $black);
  filter: drop-shadow(5px 5px 5px $black) !important;

  border: 2px solid $pink;
  box-shadow: 0 0 20px $pink, inset 0 0 10px $pink;
  text-shadow: 0 0 8px $pink;
}