@layer base {
  * {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    cursor: none;
    line-height: 1;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  h1,
  h2,
  h3,
  h4,
  .app-cursor {
    font-weight: 900;
    font-family: "Actay Wide", sans-serif;
    text-transform: lowercase;
    hyphens: auto;
    line-height: 1;
  }

  h1 {
    font-size: var(--h1);
    line-height: var(--h1-leading);
  }
  h2 {
    font-size: var(--h2);
  }
  h3 {
    font-size: var(--h3);
  }
  h4 {
    font-size: var(--h4);
  }

  p,
  a,
  button,
  .app-cursor {
    font-size: var(--paragraph);
  }

  small,
  .design span {
    font-size: var(--subtext);
  }

  video::-webkit-media-controls {
    display: none;
  }
  video:hover::-webkit-media-controls {
    display: flex;
  }
}
