@layer base {
  * {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    cursor: none;
    line-height: 1;
    /* text-wrap: balance;
    word-break: normal;
    overflow-wrap: break-word;*/

    &::-webkit-scrollbar {
      display: none;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: 900;
    font-family: "Actay Wide", sans-serif;
    text-transform: lowercase;
    hyphens: auto;
    line-height: 1;
  }

  h1 {
    font-size: var(--text-h1);
    line-height: var(--leading-h1);
  }
  h2 {
    font-size: var(--text-h2);
  }
  h3 {
    font-size: var(--text-h3);
  }
  h4 {
    font-size: var(--text-h4);
  }

  p,
  a,
  button,
  .app-cursor {
    font-size: var(--text-body);
  }

  small,
  .design span {
    font-size: var(--text-small);
  }

  video::-webkit-media-controls {
    display: none;
  }
  video:hover::-webkit-media-controls {
    display: flex;
  }
}
