@layer base {
  body {
    font-family: var(--font-sans), serif;
  }

  * {
    font-optical-sizing: auto;
    line-height: 1;
    /* text-wrap: balance;
    word-break: normal;
    overflow-wrap: break-word;*/
  }

  html.effects::-webkit-scrollbar,
  html.effects *::-webkit-scrollbar {
    display: none;
  }

  .use-custom-cursor * {
    cursor: none;
  }

  h1,
  h2,
  h3,
  h4,
  .app-cursor {
    font-weight: 900;
    font-family: var(--font-heading), serif;
    text-transform: lowercase;
    hyphens: auto;
    line-height: 1;
  }

  h1 {
    font-size: var(--text-heading-xl);
    line-height: var(--text-heading-xl--line-height);
  }
  h2 {
    font-size: var(--text-heading-lg);
  }
  h3 {
    font-size: var(--text-heading-md);
  }
  h4 {
    font-size: var(--text-heading-sm);
  }

  p,
  a,
  button,
  .app-cursor {
    font-size: var(--paragraph);
  }

  small,
  .design span {
    font-size: var(--subtext);
  }

  /*noinspection CssInvalidPseudoSelector*/
  video::-webkit-media-controls {
    display: none;
  }
  /*noinspection CssInvalidPseudoSelector*/
  video:hover::-webkit-media-controls {
    display: flex;
  }
}
