@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
@custom-variant light (&:where([data-theme="light"], [data-theme="light"] *));

@theme {
  /* breakpoints */
  --breakpoint-lg: 64rem; /* 1024 */
  --breakpoint-3xl: 120rem; /* 1920 */
  --breakpoint-4xl: 160rem; /* 2560 */

  --transition: all 0.25s;

  --cursor-size: 15px;
  --cursor-size-active: 35px;
  --cursor-size-label: 150px;

  /* colors (HSL) */
  --color-primary: hsl(83 100% 50%);

  /* типографика */
  --h1: clamp(3rem, 12vw, 20rem);
  --h2: clamp(1.75rem, 4vw, 8rem);
  --h3: clamp(1.5rem, 3vw, 4.5rem);
  --h4: clamp(1.25rem, 2vw, 3rem);
  --paragraph: clamp(0.75rem, 0.7071rem + 0.1831vw, 1rem);
  --subtext: clamp(0.75rem, 0.75vw, 1.25rem);
  --footer-logo-text: clamp(3rem, -1.6339rem + 19.7712vw, 30rem);
  --h1-leading: 10vw;

  --dot-size: 14px;
  --dot-gap: 10px;
  --dot-color: var(--color-neutral-700);
  --dot-current: var(--color-primary);
}

:root {
  --cell: 25vw;
  --parallax-offset: 0px;
  --parallax-scale: 1;
}

@media (color-gamut: p3) {
  :root {
    --color-primary: color(display-p3 0.7 1 0);
  }
}
