@theme static {
  --breakpoint-3xl: 120rem; /* 1920 */
  --breakpoint-4xl: 160rem; /* 2560 */
}

@theme {
  --transition: all 0.25s;

  --font-sans: Helvetica, Arial, sans-serif;
  --font-heading: "Bounded", sans-serif;

  --cursor-size: 15px;
  --cursor-size-active: 35px;
  --cursor-size-label: 150px;

  /* типографика */
  --text-hero-title: clamp(4.5rem, 15vw, 24rem);
  --text-pricing-title: clamp(5.5rem, 29vw, 8rem);
  --text-pricing-title-lg: clamp(8rem, 23vw, 22rem);
  --text-feature-stat: clamp(5rem, 20vw, 8rem);
  --text-heading-xl: clamp(3rem, 12vw, 20rem);
  --text-heading-xl--line-height: clamp(2.4rem, 10vw, 16rem);
  --text-heading-lg: clamp(1.75rem, 4vw, 8rem);
  --text-heading-md: clamp(1.5rem, 3vw, 4.5rem);
  --text-heading-sm: clamp(1.25rem, 2vw, 3rem);
  --paragraph: clamp(0.75rem, 0.7071rem + 0.1831vw, 1rem);
  --subtext: clamp(0.75rem, 0.75vw, 1.25rem);
  --dot-size: 14px;
  --dot-gap: 10px;
}

:root {
  --parallax-offset: 0px;
  --parallax-scale: 1;
}
