.writing-horizontal-tb {
  writing-mode: horizontal-tb;
}

.writing-vertical-lr {
  writing-mode: vertical-lr;
}

.writing-vertical-rl {
  writing-mode: vertical-rl;
}

.writing-sideways-rl {
  writing-mode: sideways-rl;
}

.writing-sideways-lr {
  writing-mode: sideways-lr;
}
