@layer components {
  legend {
    padding: 5px 10px;
  }

  .shirt {
    transform: rotateY(180deg);
  }

  .profile fieldset {
    width: 180px;
    height: 180px;
  }

  .profile legend {
    background-color: var(--color-black);
    line-height: 10px;
    animation: move 5s infinite linear alternate;
  }

  .profile fieldset:nth-of-type(2) {
    transform: rotate(90deg);
  }

  .profile fieldset:nth-of-type(3) {
    transform: rotate(180deg);
  }

  .profile fieldset:nth-of-type(4) {
    transform: rotate(-90deg);
  }

  .profile img {
    width: 180px;
  }

  .chess {
    width: 180px;
    height: 180px;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
  }

  .cube-one {
    background-color: var(--color-transparent);
  }

  .cube-two {
    background-color: var(--color-white);
  }

  .profile-box {
    width: 180px;
    height: 180px;
  }

  .profile-box:hover .profile {
    transform: rotateY(180deg);
  }

  .profile-box:hover .shirt {
    transform: rotateY(0);
  }
  body {
    background: linear-gradient(270deg, var(--color-black), var(--color-grey-darkest));
    background-size: 400% 400%;
    animation: animateBg 30s ease infinite;
  }

  @keyframes animateBg {
    0%,
    100% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

  .shirt,
  .profile {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    backface-visibility: hidden;
  }

  .neon-pink-shadow {
    border: 2px solid var(--color-pink);
    box-shadow:
      0 0 20px var(--color-blue),
      inset 0 0 10px var(--color-pink);
  }

  @keyframes move {
    from {
      margin-left: 0;
    }
    to {
      margin-left: 50%;
    }
  }
}
