@layer components {
  .shirt {
    transform: rotateY(180deg);
  }

  .profile fieldset {
    width: 180px;
    height: 180px;
  }

  .profile legend {
    line-height: 10px;
    animation: move 5s infinite linear alternate;
  }

  .profile fieldset:nth-of-type(2) {
    transform: rotate(90deg);
  }

  .profile fieldset:nth-of-type(3) {
    transform: rotate(180deg);
  }

  .profile fieldset:nth-of-type(4) {
    transform: rotate(-90deg);
  }

  .profile img {
    width: 180px;
  }

  .chess {
    width: 180px;
    height: 180px;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
  }

  .profile-box {
    width: 180px;
    height: 180px;
  }

  .profile-box:hover .profile {
    transform: rotateY(180deg);
  }

  .profile-box:hover .shirt {
    transform: rotateY(0);
  }

  .shirt,
  .profile {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    backface-visibility: hidden;
  }
}
