@import 'animations';
@import 'color-schemes/overture';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Caveat:wght@400..700&family=Press+Start+2P&family=Train+One&display=swap");

@font-face {
  font-family: "zaychek";
  src: url("../src/fonts/Zaychik-Regular.ttf");
}

@media screen and (max-width: 750px) {
  header img:first-child {
    width: 64px;
  }

  .hider {
    display: block;
  }

  body {
    margin: 0 0 22.5px;
  }

  h1,
  h3 {
    font-size: 12px;
  }

  header img:first-child {
    width: 75%;
  }

  .left {
    display: none;
  }

  .profile-internal,
  .profile-legend {
    display: block;
  }

  .center {
    width: 92.5%;
  }

  legend h1 {
    padding: 0;
  }

  .card img {
    width: 100%;
  }

  .card fieldset {
    width: 100%;
    height: 100%;
  }

  fieldset,
  .card legend {
    animation: none;
  }

  .qrc {
    display: none;
  }

  .item:not(:first-of-type),
  iframe:not(:first-of-type),
  video:not(:first-of-type) {
    margin: 10px 0;
  }

  iframe:hover,
  video:hover,
  img:hover {
    box-shadow: none;
  }

  .content {
    margin: 10px;
  }
}

html {
  cursor: url("../src/images/cursors/inactive.png"), auto;
}

* {
  font-family: "Open Sans", serif;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border: none
  }
}

body {
  margin: 0;
  font-size: 14px;
  text-transform: lowercase;
  /*background-size: 25px 25px;*/
}

.width-64 {
  width: 64px;
}

footer {
  display: none;
}

.right {
  grid-area: right;
  width: min-content;
  top: 55px;
  height: fit-content;
  position: sticky;
  text-align: right;
  display: none;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding: 0 10px;
}

h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding: 10px 0;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding: 0;
}

fieldset {
  border: none;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  height: fit-content;

  &:not(.card fieldset) > * {
    margin: 0 0 20px 0;
  }

  &:not(.card fieldset) {
    transition: all 0.25s ease-in-out;
  }
}

legend:not(.card legend) {
  padding: 0 10px;
}

header img:hover,
fieldset:hover,
.card fieldset {
  animation: none
}

.item:hover img,
iframe:hover,
video:hover,
img:hover:not(.shadowless),
.card img,
.qrc,
.shirt,
.filterless {
  filter: none;
}

video:hover,
img:hover:not(.shadowless) {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.shakeless {
  animation: none
}

img,
iframe,
video {
  filter: grayscale(100%);
}

legend {
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.cardBox {
  position: relative;
  width: 178px;
  height: 178px;
  margin: 0 0 20px;
  /*animation: shake 2s;
  animation-iteration-count: infinite;*/
}

.item-cardBox {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 0 20px;
  animation: shake 2s;
  animation-iteration-count: infinite;
}

.item-cardBox img {
  max-width: 60px;
  min-width: 60px;
}

.card,
.shirt {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform .5s ease;
  backface-visibility: hidden;
}

.item-card,
.item-shirt {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform .5s ease;
  backface-visibility: hidden;
}

.shirt {
  display: flex;
}

.item-shirt {
  display: flex;
}

.logo {
  width: 80%;
  margin: auto;
  /*filter: invert(100%)*/
}

.cardBox {

  &:hover .card {
    transform: rotateY(180deg);
  }

  &:hover .shirt {
    transform: rotateY(0);
  }
}

.item-cardBox {

  &:hover .item-card {
    transform: rotateY(180deg);
  }

  &:hover .item-shirt {
    transform: rotateY(0);
  }
}

.shirt {
  transform: rotateY(180deg);
}

.item-shirt {
  transform: rotateY(180deg);
}


.card fieldset {
  position: absolute;
  top: 0;
  left: 0;
  width: 178px;
  height: 178px;
}

.card legend {
  line-height: 10px;
  animation: move 3s infinite linear alternate;
}

.card fieldset:nth-of-type(2) {
  transform: rotate(90deg);
}

.card fieldset:nth-of-type(3) {
  transform: rotate(180deg);
}

.card fieldset:nth-of-type(3) /*>legend*/
{
  transform: rotate(180deg);
}

.card fieldset:nth-of-type(4) {
  transform: rotate(-90deg);
}

.card img {
  width: 178px;
}

@keyframes move {
  100% {
    margin-left: 70px;
  }
}

.info h3 {
  text-align: right;
  text-transform: uppercase;
  font-weight: 800;
  padding: 0 5px 0 15px;
}

.active {
  position: relative;
  text-align: center;
  height: 100%;

  &:before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    clip-path: polygon(0 0);
    width: 100%;
  }

  &:after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    clip-path: polygon(0 0);
    animation: noise-animY 2s infinite linear alternate-reverse;
    -webkit-animation: noise-animY-1 2s infinite linear alternate-reverse;
    width: calc(100% - 4px);
  }
}

.item {
  padding: 10px;
  transition: all .3s cubic-bezier(.65, .05, .36, 1);

  &:hover {
    transform: translateY(10px) translateX(10px);
  }
}

.item img {
  max-width: 60px;
  min-width: 60px;
}

.item ul {
  text-align: left;
  margin: 0 10px 0;
}

.itemName {
  display: inline-flex;
  width: 100%;
  align-items: center;
}

.itemName > * {
  margin: 0 10px 0 0;
}

.itemName h1 {
  width: 100%;
}

.stack-item-desc {
  width: inherit;
  padding: 20px;
}

.qrc {
  position: fixed;
  padding: 20px;
  bottom: -280px;
  right: 2%;
  z-index: 2;
  transition: all 0.25s ease-in-out;
}

.qrc {
  &:hover {
    bottom: 0;
  }
}

.qrc > * {
  padding: 0 0 20px 0;
}

.qrc td {
  background: transparent;
}

.content {
  display: none;
}

.content.is-active {
  display: block;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px;
}

iframe,
video {
  border: none
}

.youtube {
  width: 350px;
  height: 195px;
  object-fit: cover;
}

header h1,
.item,
iframe,
video,
input,
button {
  cursor: url("../src/images/cursors/active.png"), auto;
}

audio {
  width: 100%;
}

.scroll {
  padding-bottom: 10px;
}

.nocursor,
.qrc:hover,
.cardBox:hover {
  cursor: none;
}

.cheatForm {
  text-align: right;
  display: inline-flex;
  width: 100%;
}

.cheatForm > *:not(:last-child) {
  margin: 0 10px 0 0;
}

.cheatForm input {
  width: 100%;
}

button,
input {
  font-size: inherit;
}

.back-text {
  scale: 150%;
  top: 150px;
  text-align: center;
  width: 100%;
  position: fixed;
  margin: 100px -100px;
  z-index: -1;
  font-family: "zaychek", serif;
  font-size: 800px;
  transform: rotate(350deg);
  display: none;
  /*animation: glitch 60s infinite;*/
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}