.no-hw * {
  /*animation: none !important;*/
  /*transition: none !important;*/
  /*transform: none !important;*/
  /*filter: none !important;*/
  will-change: auto !important;
  /*mix-blend-mode: normal !important;*/
  cursor: initial !important;
}
