@keyframes move {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 50%;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animateBg {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}

.item {;
  transition: all .3s cubic-bezier(.65, .05, .36, 1);

  &:hover {
    transform: translateY(10px) translateX(10px);
  }
}
