@import "tailwindcss";
@import "lenis/dist/lenis.css";
@import "swiper/swiper.css";
@import "./styles/fonts.css";
@import "./styles/core.css";
@import "./styles/base.css";
@import "./styles/utilits.css";
@import "./styles/themes/light.css";
@import "./styles/components.css";
@import "./styles/swiper.css";

@plugin "@iconify/tailwind4";
@custom-variant hw (&:where(html.hw &));
