@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');*/
@import "tailwindcss";
@import "lenis/dist/lenis.css";
@import "swiper/css";
@import "./styles/fonts.css";
@import "./styles/core.css";
@import "./styles/base.css";
@import "./styles/utilits.css";
@import "./styles/themes/light.css";
@import "./styles/components.css";
@import "./styles/swiper.css";

@custom-variant hw (&:where(html.hw &));
@plugin "@iconify/tailwind4";
