@use "tailwindcss";

$black: hsl(0 0% 0%);
$white: hsl(0 0% 100%);
$primary: hsl(314 97% 44%);
$primary-darker: hsl(248 65% 50%);
$secondary: hsl(0 0% 12%);
$secondary-light: hsl(0 0% 25%);
$secondary-dark: hsl(0 0% 10%);
$transparent: hsla(0, 0%, 0%, 0);

$transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);

:root {
  --primary: #{$primary};
  --black: #{$black};
  --white: #{$white};
  --primary-darker: #{$primary-darker};
  --secondary: #{$secondary};
  --secondary-light: #{$secondary-light};
  --secondary-dark: #{$secondary-dark};
  --transparent: #{$transparent};
}

@theme {
  --height-100vh-64: calc(100vh - 64px);
  --breakpoint-xs: 40rem; //640
  --breakpoint-md: 48rem; //768
  --breakpoint-lg: 64rem; //1024
  --breakpoint-xl: 80rem; //1280
  --breakpoint-2xl: 90rem; //1440
  --colonnetitulus: 6rem; //96
}

.fustat {
  font-family: "Fustat", sans-serif;
  color: $white;
  letter-spacing: -4px;
}

.biryani {
  font-family: "Biryani", sans-serif;
}

@keyframes move {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 50%;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

hr {
  color: var(--secondary);
}

* {
  font-family: "Geologica", sans-serif;
  text-wrap: balance;
  cursor: url("./assets/images/cursor-inactive.png"), auto;

  a,
  &.item > * {
    cursor: url("./assets/images/cursor-active.png"), pointer;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &::selection {
    background-color: $white;
    color: $black;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $black;
  color: $white;
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
  text-transform: uppercase;
}

h3 {
  font-size: 2rem;
  text-transform: uppercase;
}

h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

p {
  font-weight: 100;
  color: rgba($white, 0.5);
}

b {
  font-weight: 500;
  text-transform: uppercase;
}

h1,
h2,
h3,
b {
  color: $white;
}

a {
  color: rgba($white, 0.5);

  &:hover {
    color: $white;
  }
}

legend {
  padding: 5px 10px;

  &:not(.profile legend) {
    background: $secondary;
  }
}

#header-logo {
  transition: $transition;
}

.item {
  filter: grayscale(100%);
  transition: $transition;
  color: rgba($white, 0.5);
  height: fit-content;
  background-color: $black;

  img {
    border-radius: var(--radius-xl);
  }

  &:hover {
    transform: translate(10px, 10px);
    filter: grayscale(0%);
    color: $white;
  }
}

.profile-box {
  width: 180px;
  height: 180px;
  margin-bottom: 20px;

  &:hover {
    .profile {
      transform: rotateY(180deg);
    }

    .shirt {
      transform: rotateY(0);
    }
  }
}

.shirt,
.profile {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  backface-visibility: hidden;
}

.shirt {
  transform: rotateY(180deg);

  img {
    width: 80%;
  }
}

.profile-box {
  fieldset {
    width: 180px;
    height: 180px;
  }

  legend {
    background-color: $black;
    line-height: 10px;
    animation: move 5s infinite linear alternate;
  }

  fieldset:nth-of-type(2) {
    transform: rotate(90deg);
  }

  fieldset:nth-of-type(3) {
    transform: rotate(180deg);
  }

  fieldset:nth-of-type(4) {
    transform: rotate(-90deg);
  }

  img {
    width: 180px;
  }
}

.info h3 {
  text-align: right;
  text-transform: uppercase;
  background-color: $primary-darker;
}

.active {
  color: $white;
  font-weight: bold;
  transition: $transition;
}

iframe,
video {
  border-radius: 15px;
  border: none;
}

.progress-bar {
  height: 5px;
  width: 0;
  transition: width 0.1s ease;
}

.card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.card img {
  filter: grayscale(100%) brightness(0.9) contrast(1.1);
  transition: all 0.3s ease;

  &:hover {
    filter: grayscale(0%) brightness(0.9) contrast(1.1);
  }
}

@media (max-width: 48rem) {
  #about {
    padding-top: calc(2 * var(--colonnetitulus));
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1rem;
  }

  p {
    font-size: 0.75rem;
  }
}
