@use "tailwindcss";

@theme {
  --height-100vh-64: calc(100vh - 64px);
  --breakpoint-xs: 40rem; //640
  --breakpoint-md: 48rem; //768
  --breakpoint-lg: 64rem; //1024
  --breakpoint-xl: 80rem; //1280
  --breakpoint-2xl: 90rem; //1440
  --colonnetitulus: 6rem; //96
}

$black: hsl(0 0% 0%);
$white: hsl(0 0% 100%);
$primary: hsl(314 97% 44%);
$primary-darker: hsl(248 65% 50%);
$secondary: hsl(0 0% 12%);
$secondary-light: hsl(0 0% 25%);
$secondary-dark: hsl(0 0% 10%);
$transparent: hsla(0, 0%, 0%, 0);

$transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);

@keyframes move {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 50%;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 48rem) {
  #about {
    padding-top: calc(2 * var(--colonnetitulus));
  }
}

* {
  font-family: "Geologica", sans-serif;
  font-weight: 100;
  text-align: justify;
  color: rgba($white, 0.5);
  cursor: url("./assets/images/cursor-inactive.png"), auto;

  &::-webkit-scrollbar {
    display: none;
  }

  &::selection {
    background-color: $white;
    color: $black;
  }
}

html {
  scroll-behavior: smooth;
}

header,
footer {
  height: var(--colonnetitulus);
}

body {
  background-image:
          linear-gradient($secondary-dark 1px, transparent 1px),
          linear-gradient(to right, $secondary-dark 1px, transparent 1px),
          linear-gradient(to left, $black, $secondary-dark);
  background-size:
          100px 100px,
          100px 100px,
          100% 100%;
}

h1,
h2,
h3,
b {
  color: $white;
}

a {
  cursor: url("./assets/images/cursor-active.png"), pointer;

  &:hover {
    color: $white;
  }
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

b {
  font-weight: 500;
  text-transform: uppercase;
}

legend {
  padding: 5px 10px;

  &:not(.profile legend) {
    background: $secondary;
  }
}

.item {
  transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);

  img {
    filter: grayscale(100%);
    max-width: 60px;
    min-width: 60px;
  }

  &:hover {
    transform: translate(10px, 10px);
    box-shadow: -10px -10px 0px 0px $secondary;

    h2::first-letter {
      background-color: $primary-darker;
    }

    img {
      filter: none;
    }
  }
}

.profile-box {
  width: 180px;
  height: 180px;
  margin-bottom: 20px;

  &:hover {
    .profile {
      transform: rotateY(180deg);
    }

    .shirt {
      transform: rotateY(0);
    }
  }
}

.shirt,
.profile {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  backface-visibility: hidden;
}

.shirt {
  transform: rotateY(180deg);

  img {
    width: 80%;
  }
}

.profile-box {
  fieldset {
    width: 180px;
    height: 180px;
  }

  legend {
    background-color: $black;
    line-height: 10px;
    animation: move 5s infinite linear alternate;
  }

  fieldset:nth-of-type(2) {
    transform: rotate(90deg);
  }

  fieldset:nth-of-type(3) {
    transform: rotate(180deg);
  }

  fieldset:nth-of-type(4) {
    transform: rotate(-90deg);
  }

  img {
    width: 180px;
  }
}

.info h3 {
  text-align: right;
  text-transform: uppercase;
  background-color: $primary-darker;
}

.item-iframe {
  background-color: $secondary;

  &:hover {
    box-shadow: -10px -10px 0px 0px $secondary;
    background-color: $white;
  }
}

.active {
  color: $white;
  font-weight: bold;
  transition: $transition;
}

iframe,
video {
  border-radius: 15px;
  border: none;
}

.chess {
  width: 180px;
  height: 180px;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
}

.progress-bar {
  height: 5px;
  width: 0;
  transition: width 0.1s ease;
  background-color: $primary-darker;
}

.neon-pink-shadow {
  border: 2px solid $primary-darker;
  box-shadow:
    0 0 20px $primary-darker,
    inset 0 0 10px $primary-darker;
}

.header-scrolled {
  backdrop-filter: blur(16px);
  transition: $transition;
}

.cube-one {
  background-color: $transparent;
}

.cube-two {
  background-color: $white;
}

.card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.card img {
  filter: grayscale(100%) brightness(0.9) contrast(1.1);
  transition: all 0.3s ease;

  &:hover {
    filter: grayscale(0%) brightness(0.9) contrast(1.1);
  }
}
